
  @import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@600&family=Patrick+Hand&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
*{background-color:rgb(253, 248, 243);}
  *{
font-family:'Times New Roman', Times, serif ;
    font-weight: 600;
}
h1{
    color: blue;
    text-align: center;
    text-decoration: underline;   
    font-family: 'Times New Roman', Times, serif;
}
.paragraph1 {
    font-style: italic;
}
.paragraph2{
    font-family: 'Rubik Maps', system-ui;
    color: rgb(14, 127, 219);
}
.paragraph3{
    font-weight: bolder;
}
 .paragraph6{
    font-family: 'Patrick Hand', cursive;
} 
.paragraph5{ text-align: right;
    font-family: 'Noto Nastaliq Urdu', serif;
}
.paragraph7{color: rgba(228, 169, 8, 0.993);
    font-family: 'Lemonada', cursive;
    text-align: center;
}
